.landing {
  height: calc(100vh - 130px);

  .home-background {
    background: rgb(159, 111, 170, 0.5);
    background: linear-gradient(
      90deg,
      rgba(159, 111, 170, 0.5) 0%,
      rgba(102, 61, 144, 0.5) 100%
    );
    width: 100%;
    border-radius: 15px;
    text-align: right;
    height: 100%;
    position: relative;
    overflow: hidden;

    .home-text {
      position: absolute;
      text-align: left;
      margin-left: 50px;
      color: white;
      height: 100%;
      width: 450px;
      margin-top: 70px;

      h1 {
        font-family: "Prata", Times, serif;
        font-size: 2.75em;
        font-weight: 100;
      }

      h3 {
        font-family: "Amiri", Times, serif;
        font-size: 1.75em;
        font-weight: 100;
      }

      .quote {
        line-height: 1.2em;
      }

      .quote-source {
        font-style: italic;
        text-align: right;
        font-size: 0.87em;
        margin-top: 10px;
      }

      .landing-contact-btn {
        margin-top: 40px;
      }
    }

    .home-bg-img {
      height: 100%;
      width: 100%;

      .plant {
        height: 60%;
      }

      .woman-on-armchair {
        height: 100%;
        margin-right: 40px;
        width: auto;
        object-fit: cover;
        object-position: 20px center;
        overflow: hidden;
      }
    }
  }
}

.banner {
  //   height: 150px;
  padding: 30px 0;
  background-color: rgba(102, 61, 144, 0.2);
  text-align: center;

  h3 {
    font-family: "Amiri", Times, serif;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0;
  }

  .person-container {
    display: inline-flex;
    align-items: center;
    gap: 15px;

    .avatar {
      // background: url(../../assets/img/DSC_8745-50x50.jpg);
      border-radius: 50%;
    }
  }
}

.black-void {
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.about-section {
  .home-about-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .read-more-btn {
    margin-left: auto;
  }
}

.services-section {
  .services-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 16px 0;

    .service-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .service-img {
        height: 250px;
      }

      .service-title {
        margin-top: 20px;
        font-size: 1.1em;
        pointer-events: none;
      }

      .black-box {
        width: 250px;
        height: 250px;
        background-color: black;
      }
    }
  }
}
.see-all-btn {
  margin-left: auto;
}

// .section-header {
//   font-family: "Amiri";
//   font-size: 40px;
//   margin-bottom: 0;
//   font-weight: 100;
// }

.contact-form-home-container {
  text-align: center;
  padding: 50px 0;

  .go-to-contact-btn {
    margin: 50px auto 0;
  }
}

.home-footer {
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(102, 61, 144, 0.2);
}

@media screen and (max-width: 1190px) {
  .plant {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .banner h3 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 790px) {
  .landing {
    height: calc(100vh - 100px);

    .home-background .home-text {
      h1 {
        font-size: 2.5em;
      }

      h3 {
        font-size: 1.5em;
      }
    }
  }

  // .plant {
  //   display: none;
  // }
}

@media screen and (max-width: 700px) {
  .landing .home-background .home-text {
    margin-left: 25px;
    width: 330px;

    h1 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.2em;
    }

    .quote {
      font-size: 0.9em;
    }

    .quote-source {
      font-size: 0.8em;
    }
  }

  .services-section .services-container .service-container .service-title {
    font-size: 1em;
  }
}

@media screen and (max-width: 690px) {
  .banner {
    h3 {
      font-size: 1.18em;
    }

    .person-container span {
      font-size: 0.87em;
    }
  }

  .black-void {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .landing {
    padding: 30px 15px;

    .home-background .home-text {
      width: 300px;

      h1 {
        font-size: 1.7em;
      }
    }
  }

  .banner {
    h3 {
      font-size: 1em;
    }

    .person-container {
      flex-direction: column;

      span {
        font-size: 0.7em;
      }
    }
  }

  .home-footer {
    font-size: 0.7em;
    padding: 13px 0;
  }
}
