.contact-page-container {
    width: 60%;
    margin: auto;
    max-width: 600px;
    padding-top: 70px;

    .contact-page-header {
        text-align: center;
    }

    .message-me-btn {
        margin: auto;
    }
}