.black-box {
  width: 250px;
  height: 250px;
  background-color: black;
}

.service-box-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.left-container {
    margin-left: auto;
}