.black-box {
  width: 250px;
  height: 250px;
  background-color: black;
}

.service-box-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 15px;
  transition: all 0.3s ease !important;

  .service-img {
    height: 270px;
  }

  .mr {
    margin-right: 40px;
  }

  .ml {
    margin-left: 40px;
  }

  .side-container {
    width: 60%;
    text-align: justify;
    pointer-events: none;

    .service-header {
      font-family: "Amiri", Times, serif;
      font-weight: 600;
      font-size: 1.4em;
    }

    .header-right {
      text-align: right;
    }

    .service-description li {
      display: table-row;
      line-height: 1.1em;

      &::before {
        display: table-cell;
        text-align: right;
        content: "+";
        font-size: 1em;
        font-weight: bold;
        color: rgb(102, 61, 144);
        padding-right: 12px;
      }
    }
  }

  &:hover {
    background: rgb(159, 111, 170, 0.5);
    background: linear-gradient(
      90deg,
      rgba(159, 111, 170, 0.5) 0%,
      rgba(102, 61, 144, 0.5) 100%
    );
    color: white;
  }
}

.left-container {
  margin-left: auto;
}

.highlight {
  background: rgb(159, 111, 170, 0.5);
  background: linear-gradient(
    90deg,
    rgba(159, 111, 170, 0.5) 0%,
    rgba(102, 61, 144, 0.5) 100%
  );
  color: white;
  scale: 1.04;
}

@media screen and (max-width: 1000px) {
  .service-box-container .service-img {
    height: 220px;
  }
}

@media screen and (max-width: 800px) {
  .service-box-container .service-img {
    height: 190px;
  }
}

@media screen and (max-width: 600px) {
  .sbc-left {
    flex-direction: column;
  }

  .sbc-right {
    flex-direction: column-reverse;
  }

  .service-box-container {
    .ml,
    .mr {
      margin: 0 0 10px;
    }

    .side-container {
      width: 95%;

      h3 {
        text-align: center !important;
      }
    }
  }
}
