.nav-bar {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(102, 61, 144, 0.2);

  .hide-content {
    visibility: hidden;
    font-size: 1px !important;
  }

  .social-medias-container,
  .nav-links {
    flex: 1;
    gap: 40px;
    display: inline-flex;
    font-size: 1em;
    font-family: Fredoka, Helvetica, sans-serif;
  }

  .logo {
    height: 110px;
    display: block;
  }

  .nav-links {
    justify-content: flex-end;

    .nav-link:hover {
      color: #663d90;
    }
  }

  .nav-btn {
    display: none;
    height: 20px;
  }

  .show-btn {
    display: block;
  }
}

.social-media-icon {
  height: 25px;
  width: 25px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    padding: 0 40px;

    .social-medias-container,
    .nav-links {
      gap: 15px;
    }
  }
}

@media screen and (max-width: 810px) {
  .nav-bar {
    .social-medias-container,
    .nav-links {
      font-size: 0.87em;
    }

    .logo {
      height: 80px;
    }
  }
}
