.date-group {
  position: relative;

  .date-form-input {
    background: none;
    color: grey;
    font-size: 1.1em;
    padding: 10px 10px 10px 20px;
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 15px;
    border: 1px solid grey;
    margin: 25px 0;

    &:focus {
      outline: none;
      border-color: rgb(102, 61, 144);
      border-width: 2px;
    }
  }

  .date-label {
    position: absolute;
    top: -4px;
    font-size: 0.7em;
    background: white;
    padding: 0 10px;
    color: black;
    pointer-events: none;
    left: 35px;
  }
}